In [686]:
import numpy as np

In [687]:
V = np.zeros((6, 12))

In [688]:
V[1,11]=-1
V[0,11] = 1
gamma = 0.9
epsilon = 0.2
Phi = 0.8

In [689]:
V.shape

(6, 12)

In [690]:
V

array([[ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0., -1.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.],
       [ 0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.,  0.]])

In [691]:
def find_move(x,y, shape_v):
  up = (x-1, y)
  down = (x+1, y)
  left = (x, y-1)
  right = (x, y+1)

  moves = [up, down, left, right]
  
  list_move = []
  for move in moves:
    for i, elem in enumerate(move):
      if elem < 0:
        break
      elif elem >= shape_v[i]:
        break
      if i:
        list_move.append(move)
  return list_move

In [692]:
block = [
(0, 4), (0, 8), 
(1, 4), (1, 6), (1, 8), 
(2, 1), (2, 2), (2, 4), (2, 6), (2, 8),
(3, 1), (3, 6), (3, 8),
(4, 1), (4, 2), (4, 3), (4, 4), (4, 5), (4, 6), (4, 8), (4, 9),
(5, 4)
]
len(block)

22

In [693]:
results = []
for x in range(len(V)):
  for y in range(len(V[0])):
    if (x, y) in block:
      continue
    list_move = find_move(x, y, V.shape)
    for move in list_move:
      for block_move in block:
        if move == block_move:
          list_move.remove(move)
    dict_move = {"cell": (x, y), "moves": list_move}
    results.append(dict_move)

In [694]:
for blockCell in block:
    V[blockCell[0]][blockCell[1]] = -100

In [695]:
V

array([[   0.,    0.,    0.,    0., -100.,    0.,    0.,    0., -100.,
           0.,    0.,    1.],
       [   0.,    0.,    0.,    0., -100.,    0., -100.,    0., -100.,
           0.,    0.,   -1.],
       [   0., -100., -100.,    0., -100.,    0., -100.,    0., -100.,
           0.,    0.,    0.],
       [   0., -100.,    0.,    0.,    0.,    0., -100.,    0., -100.,
           0.,    0.,    0.],
       [   0., -100., -100., -100., -100., -100., -100.,    0., -100.,
        -100.,    0.,    0.],
       [   0.,    0.,    0.,    0., -100.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.]])

In [696]:
results

[{'cell': (0, 0), 'moves': [(1, 0), (0, 1)]},
 {'cell': (0, 1), 'moves': [(1, 1), (0, 0), (0, 2)]},
 {'cell': (0, 2), 'moves': [(1, 2), (0, 1), (0, 3)]},
 {'cell': (0, 3), 'moves': [(1, 3), (0, 2)]},
 {'cell': (0, 5), 'moves': [(1, 5), (0, 6)]},
 {'cell': (0, 6), 'moves': [(0, 5), (0, 7)]},
 {'cell': (0, 7), 'moves': [(1, 7), (0, 6)]},
 {'cell': (0, 9), 'moves': [(1, 9), (0, 10)]},
 {'cell': (0, 10), 'moves': [(1, 10), (0, 9), (0, 11)]},
 {'cell': (0, 11), 'moves': [(1, 11), (0, 10)]},
 {'cell': (1, 0), 'moves': [(0, 0), (2, 0), (1, 1)]},
 {'cell': (1, 1), 'moves': [(0, 1), (1, 0), (1, 2)]},
 {'cell': (1, 2), 'moves': [(0, 2), (1, 1), (1, 3)]},
 {'cell': (1, 3), 'moves': [(0, 3), (2, 3), (1, 2)]},
 {'cell': (1, 5), 'moves': [(0, 5), (2, 5), (1, 6)]},
 {'cell': (1, 7), 'moves': [(0, 7), (2, 7), (1, 8)]},
 {'cell': (1, 9), 'moves': [(0, 9), (2, 9), (1, 10)]},
 {'cell': (1, 10), 'moves': [(0, 10), (2, 10), (1, 9), (1, 11)]},
 {'cell': (1, 11), 'moves': [(0, 11), (2, 11), (1, 10)]},
 {'cell': (2, 0), 'moves': [(1, 0), (3, 0)]},
 {'cell': (2, 3), 'moves': [(1, 3), (3, 3), (2, 4)]},
 {'cell': (2, 5), 'moves': [(1, 5), (3, 5), (2, 6)]},
 {'cell': (2, 7), 'moves': [(1, 7), (3, 7), (2, 8)]},
 {'cell': (2, 9), 'moves': [(1, 9), (3, 9), (2, 10)]},
 {'cell': (2, 10), 'moves': [(1, 10), (3, 10), (2, 9), (2, 11)]},
 {'cell': (2, 11), 'moves': [(1, 11), (3, 11), (2, 10)]},
 {'cell': (3, 0), 'moves': [(2, 0), (4, 0)]},
 {'cell': (3, 2), 'moves': [(4, 2), (3, 3)]},
 {'cell': (3, 3), 'moves': [(2, 3), (3, 2), (3, 4)]},
 {'cell': (3, 4), 'moves': [(4, 4), (3, 3), (3, 5)]},
 {'cell': (3, 5), 'moves': [(2, 5), (3, 4)]},
 {'cell': (3, 7), 'moves': [(2, 7), (4, 7), (3, 8)]},
 {'cell': (3, 9), 'moves': [(2, 9), (3, 8), (3, 10)]},
 {'cell': (3, 10), 'moves': [(2, 10), (4, 10), (3, 9), (3, 11)]},
 {'cell': (3, 11), 'moves': [(2, 11), (4, 11), (3, 10)]},
 {'cell': (4, 0), 'moves': [(3, 0), (5, 0)]},
 {'cell': (4, 7), 'moves': [(3, 7), (5, 7), (4, 8)]},
 {'cell': (4, 10), 'moves': [(3, 10), (5, 10), (4, 11)]},
 {'cell': (4, 11), 'moves': [(3, 11), (5, 11), (4, 10)]},
 {'cell': (5, 0), 'moves': [(4, 0), (5, 1)]},
 {'cell': (5, 1), 'moves': [(5, 0), (5, 2)]},
 {'cell': (5, 2), 'moves': [(5, 1), (5, 3)]},
 {'cell': (5, 3), 'moves': [(5, 2)]},
 {'cell': (5, 5), 'moves': [(5, 4), (5, 6)]},
 {'cell': (5, 6), 'moves': [(5, 5), (5, 7)]},
 {'cell': (5, 7), 'moves': [(4, 7), (5, 6), (5, 8)]},
 {'cell': (5, 8), 'moves': [(5, 7), (5, 9)]},
 {'cell': (5, 9), 'moves': [(5, 8), (5, 10)]},
 {'cell': (5, 10), 'moves': [(4, 10), (5, 9), (5, 11)]},
 {'cell': (5, 11), 'moves': [(4, 11), (5, 10)]}]

In [697]:
def cal_cell_val(x, y, dict_move):
    for move in dict_move:
        if move["cell"] == (x , y):
            move_list = move["moves"]
            break
    value_range = []
    for i in range(len(move_list)):
        marked = move_list[i]
        sum = 0
        for j in move_list:
            if j == marked:
                sum += Phi * (0.0+gamma*V[marked])
            else:
                sum += epsilon/(len(move_list)-1)*(0.0+gamma*V[j])
        value_range.append(sum)
    return max(value_range)

In [698]:
cal_cell_val(0, 10, results)

0.7200000000000001

In [699]:
V

array([[   0.,    0.,    0.,    0., -100.,    0.,    0.,    0., -100.,
           0.,    0.,    1.],
       [   0.,    0.,    0.,    0., -100.,    0., -100.,    0., -100.,
           0.,    0.,   -1.],
       [   0., -100., -100.,    0., -100.,    0., -100.,    0., -100.,
           0.,    0.,    0.],
       [   0., -100.,    0.,    0.,    0.,    0., -100.,    0., -100.,
           0.,    0.,    0.],
       [   0., -100., -100., -100., -100., -100., -100.,    0., -100.,
        -100.,    0.,    0.],
       [   0.,    0.,    0.,    0., -100.,    0.,    0.,    0.,    0.,
           0.,    0.,    0.]])

In [700]:
import pandas as pd
for __ in range(50):
  for i in results:
    for _ in i["moves"]:
      if(_ == (0,11) or _ == (1,11) or _ in block):
         continue
      V[_] = cal_cell_val(_[0], _[1], results)
  print(f'iter {__}')
  display(pd.DataFrame(V))

iter 0

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.0,0.0,0.0000,0.000000,-100.000000,-1.829952,-0.291600,-1.829952,-100.000000,0.581697,0.819305,1.000000
1,0.0,0.0,0.0000,-0.810000,-100.000000,-11.200465,-100.000000,-11.200465,-100.000000,0.471056,0.583885,-1.000000
2,0.0,-100.0,-100.0000,-9.656100,-100.000000,-16.329734,-100.000000,-17.123730,-100.000000,-0.435406,0.392493,0.204753
3,0.0,-100.0,-18.5832,-9.501671,-16.176842,-8.780128,-100.000000,-17.661548,-100.000000,-9.217989,-0.263720,0.132260
4,0.0,-100.0,-100.0000,-100.000000,-100.000000,-100.000000,-100.000000,-11.240758,-100.000000,-100.000000,0.049381,0.106660
5,0.0,0.0,0.0000,0.000000,-100.000000,-18.115351,-3.911982,-1.480966,-0.288716,-0.015702,0.058938,0.077649

iter 1

,0,1,2,3,4,5,6,7,8,9,10,11
0,0.000000e+00,-2.361960e-03,-2.297793e-02,-0.187079,-100.000000,-4.210218,-2.900715,-4.400884,-100.000000,0.677796,0.834040,1.000000
1,-7.913747e-04,-8.793052e-03,-9.366623e-02,-1.032633,-100.000000,-13.505786,-100.000000,-13.954148,-100.000000,0.498070,0.594098,-1.000000
2,-1.424474e-04,-1.000000e+02,-1.000000e+02,-10.707868,-100.000000,-20.077819,-100.000000,-20.746084,-100.000000,-0.436527,0.398576,0.209136
3,-2.564054e-05,-1.000000e+02,-2.571498e+01,-11.646591,-18.739198,-15.040586,-100.000000,-19.338230,-100.000000,-9.223671,-0.254795,0.137511
4,-4.615297e-06,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-100.000000,-11.939335,-100.000000,-100.000000,0.062183,0.112823
5,-8.307535e-07,-1.495356e-07,-2.691641e-08,0.000000,-100.000000,-21.186956,-5.012546,-1.749610,-0.324234,-0.008735,0.070559,0.091318

iter 2

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001314,-4.613805e-03,-3.127707e-02,-2.129332e-01,-100.000000,-5.891612,-4.723205,-6.039096,-100.000000,0.692133,0.835913,1.000000
1,-0.001198,-1.069733e-02,-1.057238e-01,-1.068171e+00,-100.000000,-15.070515,-100.000000,-15.264609,-100.000000,0.513093,0.596701,-1.000000
2,-0.000239,-1.000000e+02,-1.000000e+02,-1.082964e+01,-100.000000,-21.412919,-100.000000,-21.746669,-100.000000,-0.424439,0.401700,0.211774
3,-0.000048,-1.000000e+02,-2.648446e+01,-1.189345e+01,-19.125433,-17.357194,-100.000000,-19.608626,-100.000000,-9.219678,-0.251696,0.140126
4,-0.000010,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.041007,-100.000000,-100.000000,0.066399,0.115479
5,-0.000002,-3.726535e-07,-9.029900e-08,-3.225189e-08,-100.000000,-21.661327,-5.175270,-1.783715,-0.326529,-0.005652,0.074366,0.095692

iter 3

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001825,-5.243808e-03,-3.280970e-02,-2.164496e-01,-100.000000,-6.988294,-5.913683,-7.083500,-100.000000,0.694564,0.836241,1.000000
1,-0.001349,-1.108734e-02,-1.073491e-01,-1.072526e+00,-100.000000,-15.965124,-100.000000,-16.086183,-100.000000,0.515702,0.597165,-1.000000
2,-0.000281,-1.000000e+02,-1.000000e+02,-1.084420e+01,-100.000000,-22.084706,-100.000000,-22.351055,-100.000000,-0.422231,0.402289,0.212298
3,-0.000059,-1.000000e+02,-2.657587e+01,-1.192434e+01,-19.175345,-17.664634,-100.000000,-19.689955,-100.000000,-9.218794,-0.251012,0.140691
4,-0.000012,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.058391,-100.000000,-100.000000,0.067609,0.116110
5,-0.000003,-5.328848e-07,-1.518378e-07,-7.766466e-08,-100.000000,-21.732999,-5.198235,-1.787560,-0.325374,-0.004325,0.075522,0.096981

iter 4

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001946,-5.377423e-03,-3.306049e-02,-2.169301e-01,-100.00000,-7.695905,-6.683958,-7.758277,-100.000000,0.694980,0.836298,1.000000
1,-0.001387,-1.116093e-02,-1.075746e-01,-1.073090e+00,-100.00000,-16.532179,-100.000000,-16.615946,-100.000000,0.516150,0.597246,-1.000000
2,-0.000293,-1.000000e+02,-1.000000e+02,-1.084601e+01,-100.00000,-22.504957,-100.000000,-22.737563,-100.000000,-0.421841,0.402395,0.212394
3,-0.000062,-1.000000e+02,-2.658709e+01,-1.192889e+01,-19.19059,-17.797653,-100.000000,-19.730391,-100.000000,-9.218611,-0.250877,0.140802
4,-0.000013,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.00000,-100.000000,-100.000000,-12.062866,-100.000000,-100.000000,0.067896,0.116244
5,-0.000003,-6.170195e-07,-1.951667e-07,-1.168100e-07,-100.00000,-21.743295,-5.200924,-1.787667,-0.324727,-0.003901,0.075811,0.097294

iter 5

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001974,-5.405297e-03,-3.310387e-02,-2.170007e-01,-100.000000,-8.152219,-7.180901,-8.193570,-100.000000,0.695052,0.836308,1.000000
1,-0.001396,-1.117555e-02,-1.076087e-01,-1.073172e+00,-100.000000,-16.897267,-100.000000,-16.957582,-100.000000,0.516227,0.597260,-1.000000
2,-0.000296,-1.000000e+02,-1.000000e+02,-1.084632e+01,-100.000000,-22.775019,-100.000000,-22.986372,-100.000000,-0.421773,0.402414,0.212412
3,-0.000063,-1.000000e+02,-2.658910e+01,-1.193016e+01,-19.198699,-17.877632,-100.000000,-19.754877,-100.000000,-9.218575,-0.250851,0.140823
4,-0.000013,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.065045,-100.000000,-100.000000,0.067959,0.116272
5,-0.000003,-6.616317e-07,-2.233310e-07,-1.447740e-07,-100.000000,-21.744648,-5.201143,-1.787658,-0.324542,-0.003794,0.075876,0.097363

iter 6

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001979,-5.411228e-03,-3.311210e-02,-2.170134e-01,-100.000000,-8.446470,-7.501370,-8.474277,-100.000000,0.695064,0.836309,1.000000
1,-0.001398,-1.117867e-02,-1.076151e-01,-1.073191e+00,-100.000000,-17.132641,-100.000000,-17.177878,-100.000000,0.516241,0.597262,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084643e+01,-100.000000,-22.949076,-100.000000,-23.146763,-100.000000,-0.421761,0.402417,0.212415
3,-0.000063,-1.000000e+02,-2.658983e+01,-1.193079e+01,-19.203744,-17.928607,-100.000000,-19.770588,-100.000000,-9.218568,-0.250846,0.140827
4,-0.000013,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.066496,-100.000000,-100.000000,0.067971,0.116277
5,-0.000003,-6.870659e-07,-2.412571e-07,-1.633128e-07,-100.000000,-21.744848,-5.201216,-1.787747,-0.324517,-0.003774,0.075890,0.097378

iter 7

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.412552e-03,-3.311393e-02,-2.170169e-01,-100.000000,-8.636214,-7.708023,-8.655288,-100.000000,0.695066,0.836310,1.000000
1,-0.001398,-1.117941e-02,-1.076169e-01,-1.073198e+00,-100.000000,-17.284413,-100.000000,-17.319933,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084648e+01,-100.000000,-23.061305,-100.000000,-23.250192,-100.000000,-0.421759,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659023e+01,-1.193118e+01,-19.206977,-17.961414,-100.000000,-19.780770,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000013,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.067485,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.023850e-07,-2.526051e-07,-1.752442e-07,-100.000000,-21.744924,-5.201302,-1.787846,-0.324529,-0.003773,0.075892,0.097380

iter 8

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.412877e-03,-3.311445e-02,-2.170183e-01,-100.000000,-8.758568,-7.841280,-8.772011,-100.000000,0.695067,0.836310,1.000000
1,-0.001398,-1.117962e-02,-1.076176e-01,-1.073202e+00,-100.000000,-17.382281,-100.000000,-17.411536,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084652e+01,-100.000000,-23.133673,-100.000000,-23.316891,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659049e+01,-1.193143e+01,-19.209059,-17.982562,-100.000000,-19.787361,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000013,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.068142,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.118758e-07,-2.597791e-07,-1.828354e-07,-100.000000,-21.744981,-5.201376,-1.787923,-0.324544,-0.003776,0.075892,0.097381

iter 9

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.412972e-03,-3.311465e-02,-2.170191e-01,-100.000000,-8.837467,-7.927209,-8.847278,-100.000000,0.695067,0.836310,1.000000
1,-0.001398,-1.117970e-02,-1.076180e-01,-1.073205e+00,-100.000000,-17.445390,-100.000000,-17.470605,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084654e+01,-100.000000,-23.180339,-100.000000,-23.359902,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659065e+01,-1.193159e+01,-19.210401,-17.996198,-100.000000,-19.791618,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000013,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.068572,-100.000000,-100.000000,0.067975,0.116278
5,-0.000003,-7.178276e-07,-2.643128e-07,-1.876443e-07,-100.000000,-21.745022,-5.201430,-1.787976,-0.324555,-0.003778,0.075892,0.097381

iter 10

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413008e-03,-3.311475e-02,-2.170196e-01,-100.000000,-8.888343,-7.982620,-8.895813,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117973e-02,-1.076182e-01,-1.073206e+00,-100.000000,-17.486085,-100.000000,-17.508695,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084655e+01,-100.000000,-23.210430,-100.000000,-23.387638,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659076e+01,-1.193169e+01,-19.211267,-18.004991,-100.000000,-19.794366,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.068850,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.215778e-07,-2.671777e-07,-1.906857e-07,-100.000000,-21.745050,-5.201466,-1.788011,-0.324562,-0.003779,0.075892,0.097381

iter 11

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413025e-03,-3.311481e-02,-2.170199e-01,-100.000000,-8.921151,-8.01835,-8.927110,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117976e-02,-1.076184e-01,-1.073208e+00,-100.000000,-17.512327,-100.00000,-17.533257,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084656e+01,-100.000000,-23.229835,-100.00000,-23.405523,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659083e+01,-1.193176e+01,-19.211825,-18.010661,-100.00000,-19.796138,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.00000,-12.069030,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.239452e-07,-2.689880e-07,-1.926082e-07,-100.000000,-21.745069,-5.20149,-1.788034,-0.324567,-0.003780,0.075892,0.097381

iter 12

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413035e-03,-3.311485e-02,-2.170201e-01,-100.000000,-8.942306,-8.041391,-8.947292,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117977e-02,-1.076185e-01,-1.073208e+00,-100.000000,-17.529248,-100.000000,-17.549096,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084657e+01,-100.000000,-23.242347,-100.000000,-23.417056,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659087e+01,-1.193180e+01,-19.212185,-18.014317,-100.000000,-19.797281,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069145,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.254405e-07,-2.701320e-07,-1.938232e-07,-100.000000,-21.745081,-5.201505,-1.788048,-0.324571,-0.003781,0.075892,0.097381

iter 13

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413041e-03,-3.311487e-02,-2.170202e-01,-100.000000,-8.955948,-8.056248,-8.960306,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117978e-02,-1.076185e-01,-1.073209e+00,-100.000000,-17.540160,-100.000000,-17.559309,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084657e+01,-100.000000,-23.250416,-100.000000,-23.424493,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659090e+01,-1.193183e+01,-19.212417,-18.016675,-100.000000,-19.798018,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069220,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.263853e-07,-2.708548e-07,-1.945909e-07,-100.000000,-21.745089,-5.201515,-1.788058,-0.324573,-0.003781,0.075892,0.097381

iter 14

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413045e-03,-3.311489e-02,-2.170203e-01,-100.000000,-8.964744,-8.065829,-8.968698,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117978e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.547196,-100.000000,-17.565895,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.255619,-100.000000,-23.429289,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659092e+01,-1.193185e+01,-19.212567,-18.018195,-100.000000,-19.798493,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069269,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.269822e-07,-2.713116e-07,-1.950761e-07,-100.000000,-21.745094,-5.201521,-1.788064,-0.324574,-0.003781,0.075892,0.097381

iter 15

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413048e-03,-3.311490e-02,-2.170203e-01,-100.000000,-8.970417,-8.072007,-8.974109,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.551733,-100.000000,-17.570142,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.258974,-100.000000,-23.432381,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659093e+01,-1.193186e+01,-19.212663,-18.019176,-100.000000,-19.798800,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069300,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.273595e-07,-2.716002e-07,-1.953826e-07,-100.000000,-21.745098,-5.201525,-1.788068,-0.324575,-0.003782,0.075891,0.097381

iter 16

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413049e-03,-3.311490e-02,-2.170204e-01,-100.000000,-8.974075,-8.075991,-8.977599,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.554659,-100.000000,-17.572880,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.261137,-100.000000,-23.434375,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659094e+01,-1.193187e+01,-19.212726,-18.019808,-100.000000,-19.798997,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069320,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.275978e-07,-2.717826e-07,-1.955763e-07,-100.000000,-21.745100,-5.201528,-1.788070,-0.324575,-0.003782,0.075891,0.097381

iter 17

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413050e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.976433,-8.078559,-8.979849,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.556546,-100.000000,-17.574646,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.262532,-100.000000,-23.435661,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659094e+01,-1.193187e+01,-19.212766,-18.020215,-100.000000,-19.799125,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069333,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.277485e-07,-2.718978e-07,-1.956987e-07,-100.000000,-21.745101,-5.201530,-1.788072,-0.324576,-0.003782,0.075891,0.097381

iter 18

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413051e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.977954,-8.080216,-8.981300,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.557762,-100.000000,-17.575785,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.263432,-100.000000,-23.436490,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193187e+01,-19.212792,-18.020478,-100.000000,-19.799207,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069341,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.278436e-07,-2.719706e-07,-1.957761e-07,-100.000000,-21.745102,-5.201531,-1.788073,-0.324576,-0.003782,0.075891,0.097381

iter 19

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413051e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.978935,-8.081284,-8.982236,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.558547,-100.000000,-17.576519,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.264012,-100.000000,-23.437025,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212808,-18.020648,-100.000000,-19.799260,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069346,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.279038e-07,-2.720167e-07,-1.958250e-07,-100.000000,-21.745103,-5.201531,-1.788074,-0.324576,-0.003782,0.075891,0.097381

iter 20

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.979568,-8.081973,-8.982839,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559053,-100.000000,-17.576993,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.264386,-100.000000,-23.437370,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212819,-18.020757,-100.000000,-19.799294,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069350,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.279418e-07,-2.720457e-07,-1.958558e-07,-100.000000,-21.745103,-5.201532,-1.788074,-0.324576,-0.003782,0.075891,0.097381

iter 21

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.979975,-8.082417,-8.983228,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559379,-100.000000,-17.577298,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.264627,-100.000000,-23.437592,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212826,-18.020828,-100.000000,-19.799316,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069352,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.279658e-07,-2.720641e-07,-1.958754e-07,-100.000000,-21.745103,-5.201532,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 22

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.980238,-8.082704,-8.983479,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559589,-100.000000,-17.577495,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.264783,-100.000000,-23.437735,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212831,-18.020873,-100.000000,-19.799330,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069353,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.279810e-07,-2.720757e-07,-1.958877e-07,-100.000000,-21.745103,-5.201532,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 23

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.980408,-8.082888,-8.983641,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559725,-100.000000,-17.577622,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.264883,-100.000000,-23.437828,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212833,-18.020902,-100.000000,-19.799339,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069354,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.279906e-07,-2.720831e-07,-1.958955e-07,-100.000000,-21.745103,-5.201532,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 24

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.980517,-8.083007,-8.983745,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559812,-100.000000,-17.577704,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.264948,-100.000000,-23.437888,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212835,-18.020921,-100.000000,-19.799345,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069355,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.279966e-07,-2.720877e-07,-1.959004e-07,-100.000000,-21.745103,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 25

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.980588,-8.083084,-8.983812,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559869,-100.000000,-17.577757,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.264990,-100.000000,-23.437926,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212837,-18.020933,-100.000000,-19.799349,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069355,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280005e-07,-2.720906e-07,-1.959035e-07,-100.000000,-21.745103,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 26

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.980633,-8.083134,-8.983856,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559905,-100.000000,-17.577791,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265016,-100.000000,-23.437951,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212837,-18.020941,-100.000000,-19.799352,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280029e-07,-2.720925e-07,-1.959055e-07,-100.000000,-21.745103,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 27

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311491e-02,-2.170204e-01,-100.000000,-8.980663,-8.083166,-8.983884,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559929,-100.000000,-17.577813,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265034,-100.000000,-23.437967,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212838,-18.020946,-100.000000,-19.799353,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280044e-07,-2.720936e-07,-1.959067e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 28

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980681,-8.083186,-8.983902,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559944,-100.000000,-17.577827,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265045,-100.000000,-23.437977,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212838,-18.020950,-100.000000,-19.799354,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280054e-07,-2.720944e-07,-1.959075e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 29

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980694,-8.083199,-8.983913,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559954,-100.000000,-17.577836,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265052,-100.000000,-23.437984,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212838,-18.020952,-100.000000,-19.799355,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280060e-07,-2.720948e-07,-1.959080e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 30

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980702,-8.083208,-8.983921,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559960,-100.000000,-17.577842,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265057,-100.000000,-23.437988,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212838,-18.020953,-100.000000,-19.799355,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280064e-07,-2.720951e-07,-1.959083e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 31

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980707,-8.083214,-8.983926,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559964,-100.000000,-17.577845,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265060,-100.000000,-23.437991,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020954,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280066e-07,-2.720953e-07,-1.959085e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 32

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980710,-8.083217,-8.983929,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559966,-100.000000,-17.577848,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265062,-100.000000,-23.437993,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020955,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280068e-07,-2.720954e-07,-1.959087e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 33

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980712,-8.083219,-8.983931,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559968,-100.000000,-17.577850,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265063,-100.000000,-23.437994,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020955,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280069e-07,-2.720955e-07,-1.959087e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 34

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980713,-8.083221,-8.983932,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559969,-100.000000,-17.577851,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265064,-100.000000,-23.437994,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020955,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280069e-07,-2.720956e-07,-1.959088e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 35

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980714,-8.083222,-8.983933,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559970,-100.000000,-17.577851,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265064,-100.000000,-23.437995,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020955,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959088e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 36

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980715,-8.083222,-8.983933,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559970,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437995,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020955,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959088e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 37

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980715,-8.083223,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437995,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959088e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 38

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980715,-8.083223,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 39

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083223,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 40

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083223,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 41

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083223,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 42

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083223,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 43

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083223,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 44

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083224,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 45

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083224,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 46

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083224,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 47

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083224,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 48

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083224,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

iter 49

,0,1,2,3,4,5,6,7,8,9,10,11
0,-0.001981,-5.413052e-03,-3.311492e-02,-2.170204e-01,-100.000000,-8.980716,-8.083224,-8.983934,-100.000000,0.695067,0.836310,1.000000
1,-0.001399,-1.117979e-02,-1.076186e-01,-1.073209e+00,-100.000000,-17.559971,-100.000000,-17.577852,-100.000000,0.516243,0.597263,-1.000000
2,-0.000297,-1.000000e+02,-1.000000e+02,-1.084658e+01,-100.000000,-23.265065,-100.000000,-23.437996,-100.000000,-0.421758,0.402418,0.212415
3,-0.000063,-1.000000e+02,-2.659095e+01,-1.193188e+01,-19.212839,-18.020956,-100.000000,-19.799356,-100.000000,-9.218567,-0.250845,0.140828
4,-0.000014,-1.000000e+02,-1.000000e+02,-1.000000e+02,-100.000000,-100.000000,-100.000000,-12.069356,-100.000000,-100.000000,0.067974,0.116278
5,-0.000003,-7.280070e-07,-2.720956e-07,-1.959089e-07,-100.000000,-21.745104,-5.201533,-1.788075,-0.324576,-0.003782,0.075891,0.097381

In [701]:
V

array([[-1.98128937e-03, -5.41305204e-03, -3.31149151e-02,
        -2.17020441e-01, -1.00000000e+02, -8.98071577e+00,
        -8.08322354e+00, -8.98393438e+00, -1.00000000e+02,
         6.95066772e-01,  8.36309646e-01,  1.00000000e+00],
       [-1.39852778e-03, -1.11797926e-02, -1.07618644e-01,
        -1.07320945e+00, -1.00000000e+02, -1.75599712e+01,
        -1.00000000e+02, -1.75778524e+01, -1.00000000e+02,
         5.16243484e-01,  5.97262623e-01, -1.00000000e+00],
       [-2.97264449e-04, -1.00000000e+02, -1.00000000e+02,
        -1.08465799e+01, -1.00000000e+02, -2.32650653e+01,
        -1.00000000e+02, -2.34379957e+01, -1.00000000e+02,
        -4.21758085e-01,  4.02417824e-01,  2.12415357e-01],
       [-6.32353441e-05, -1.00000000e+02, -2.65909527e+01,
        -1.19318788e+01, -1.92128387e+01, -1.80209556e+01,
        -1.00000000e+02, -1.97993560e+01, -1.00000000e+02,
        -9.21856664e+00, -2.50845015e-01,  1.40828040e-01],
       [-1.35107546e-05, -1.00000000e+02, -1.00000000e+02,
        -1.00000000e+02, -1.00000000e+02, -1.00000000e+02,
        -1.00000000e+02, -1.20693561e+01, -1.00000000e+02,
        -1.00000000e+02,  6.79744514e-02,  1.16278155e-01],
       [-2.95610088e-06, -7.28007026e-07, -2.72095649e-07,
        -1.95908867e-07, -1.00000000e+02, -2.17451035e+01,
        -5.20153268e+00, -1.78807507e+00, -3.24576495e-01,
        -3.78192061e-03,  7.58914561e-02,  9.73807339e-02]])